
#forkongithub a {
	display: block;
	background: #DEDEDE;
	color: #7B7B7B;
	text-decoration: none;
	font-family: arial, sans-serif;
	text-align: right;
	font-weight: bold;
	padding: 9px 40px 5px;
	font-size: .8rem;
	line-height: 1.1rem;
	position: relative;
	transition: 0.5s;

	&:hover {
		background: #58AFDB;
		color: #fff;
	}

}

@media screen and (min-width: 680px){
	#forkongithub {
		position: absolute;
		display: block;
		top: 115px;
		right: 0;
		width: 200px;
		overflow: hidden;
		height: 200px;

		a {
			background: #676767;
			color: #fff;
			width: 200px;
			position: absolute;
			top: 60px;
			right: -60px;
			padding: 5px 40px;
			text-align: center;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);

			&:before,
			&:after {
				content: "";
				width: 100%;
				display: block;
				position: absolute;
				top: 1px;
				left: 0;
				height: 1px;
				background: #fff;
			}

			&:after {
				bottom: 1px;
				top: auto;
			}
		}
	}
}
