.mobile {
	margin: 10% 10%;
	display: block;
	font-size: 16px;
	font-weight: normal;
	border-left: 1px solid $c-modo;

	h4 {
		border-bottom: 0;
		margin:0;
		padding: 5% 0 0 5%;
		color: $c-modo;
	}
	p {
		padding: 0 0 5% 5%;
		margin:0;
	}
}

@media screen and (min-width: 680px) {
	.mobile {
		display: none;
	}
}

@media screen and (max-width: 679px) {
	::-webkit-scrollbar {
		-webkit-appearance: none;
	}

	::-webkit-scrollbar:vertical {
		width: 12px;
	}

	::-webkit-scrollbar:horizontal {
		height: 5px;
	}

	::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, .5);
		border-radius: 10px;
		// border: 2px solid #ffffff;
	}

	::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: transparent;
	}
	.setMenu,
	.topheader .madebymodo,
	.chartinfo {
		display: none;
	}
	button {
		font-size: 11px;
		min-width: 0;
	}

	body {
		padding-top: 0px;
	}

	header {
		position: relative;
	}

	.bottomheader,
	.topheader .madebymodo,
	section {
		// display: none;
	}

	.dpi input {
		min-width: 0;
	}
	.dpi span {
		font-size: 13px;
	}
	.topheader {
		border-bottom: 0;

		h1 {
			text-align: center;
			float: none;
			padding-left: 0;

			svg {
				width: 80%;
				max-width: 300px;
			}
		}
	}

	ol.tour {
		display: block;

		li {
			width: 100%;
			max-width: none;
			padding: 1em 0;

			&:before {
				height: 40px;
			}
		}
	}

	footer {
		background: transparent;
		text-align: center;
		line-height: 1.5;
	}

	.licence {
		float: none;
		display: block;
	}

	.pagebreakpoints .dataholder {
		overflow-x: scroll;
		padding-top: 1em;
		padding-left: 0;
		overflow: -moz-scrollbars-horizontal;
	}

	.datainput td {
		padding: 0 5px;
	}

	.snippet {
		font-size: 10px;
		padding: 10px;
		margin: 0 10px;
	}

	h3 {margin-left: 15%;}

	.longdesc {
		font-size: 14px;
		padding-left: 1em;
	}

	ol {
		margin: 0;
		padding: 0 10px;
	}
	.viewport__name {
		width: 90px;
	}
	.viewport__bound {
		width: 60px;
		min-width: 60px;
	}
	.viewport__size {
		width: 80px;
	}

	label.isInvalid::before,
	label.isRequiredAndEmpty::before {
		font-size: 11px;
	}
}
