
/* imagebreakpoints */

$page-background: #FAFAFA;
$c-modo: #58AFDB;
$c-text: #676767;


// header colors
$c-topheader: #F7F7F7;
$c-bottomheader: #F2F2F2;

// bar colors
$c-1x: #7ED321;
$c-2x: #F5A623;
$c-3x: #E43350;
$c-4x: #8EB1B1;

// bar shape

$bar-cornerRadius: 2px;
$bar-height: 14px;
$bar-textSize: 11px;

/* colors */
$c-tips-background: $c-modo;
$c-tips-color: #fff;
$c-highlight-color: $c-modo;

/* form colors */
$c-form-background: #F2F2F2;
$c-form-hightlight: $c-modo;
$c-form-inactive: #B6B6B6;
$c-form-dimmed: #E9E9E9;
$c-form-focus: $c-modo;
$c-form-text: #394048;
$c-form-placeholder: #d1d1d1;

/* form validation */
// $c-form-invalid: #ff0000;
$c-form-invalid: rgba(255, 0, 0, .75);
// $c-form-required: rgb(92, 147, 0);
$c-form-required: $c-modo;


// width between 320px and 1400px
$minWidth: 320px;
$maxWidth: 1400px;
$chartArea: $maxWidth - $minWidth;


$iphone3gs-landscape: 480px;
$iphone3gs-portrait:  320px;

$iphone4-landscape: 960px;
$iphone4-portrait:  640px;

$iphone5-landscape: 1136px;
$iphone5-portrait:  640px;

$iphone6-landscape: 1136px;
$iphone6-portrait:  750px;

$iphone6plus-landscape: 1920px;
$iphone6plus-portrait:  1080px;

$ipadmini-landscape: 1024px;
$ipadmini-portrait: 768px;

$ipad3-landscape: 2048px;
$ipad3-portrait: 1536px;


%cf {
	// *zoom: 1;

	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}

}
